doctype html
html
  head
    meta(charset='utf-8')
    title Jade seems to really suck ass.
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    style(type='text/css').
      body { padding: 0px 5px; }
      body header { width: auto; margin: 0px; padding: 0px 25px; }
      body header section#page { height: 50px; padding: 10px 0px; background-color: DarkGray; color: white; text-align: center; }
      body header section#page nav ul { list-style-type: none: padding: 10px 0px; margin: 0px 0px; }
      body header section#page nav ul li { display: inline; margin: 0px 10px; padding: 3px 5px; background-color: Coral; }
      input:text { border: none; }

      section#money_total { top: 75px; left: 400px; position: absolute; }
      .negative_balance { color: red; }
      .negative_balance::before { color: red; content: '('; }
      .negative_balance::after { color: red; content: ')'; }
      span#total_asset_val { padding: 0px 20px 0px 0px; }
      
      fieldset { width: 350px; margin: 10px 0px; padding: 0px 5px; align: right; border: 1px solid gray; text-align: right; }
      legend { color: blue; font-size: 1em; width: auto; border: none; text-align: left; }
      
      body footer { width: auto; margin: 0px; padding: 25px; }
      body footer section#fat { height: 100px; padding: 10px 0px; background-color: DarkOrchid; color: white; text-align: center; }
    script(src='/javascripts/jquery-2.1.1.js')
  body
  include navbar.jade
    
  block body_content
    
  include footer.jade